<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
<!-- wp:group {"tagName":"section","className":"st-section st-page-header","layout":{"type":"default"}} -->
<section class="wp-block-group st-section st-page-header">
<!-- wp:post-title {"level":1,"className":"st-h1-lg"} /-->
</section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","className":"st-section st-content","layout":{"type":"default"}} -->
<section class="wp-block-group st-section st-content">
<!-- wp:post-content /-->
</section>
<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
